footer {          
    margin-top: 750px;
}


.container {
    padding-top: 100px;
    /* 添加一個頂部間距，以避免內容被 HEADER 覆蓋 */
}

.form-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 560px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.login-container {
    position: absolute;
    left: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s, ease-in-out;
}

.register-container {
    position: absolute;
    right: -560px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s, ease-in-out;
}

.form-top span {
    color: white;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.form-top span a {
    font-weight: 500;
    color: white;
    margin-left: 5px;
}

.header {
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px;
}

.two-froms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    color: white;
}

.input-two>.input-box>.input-field {
    width: 90%;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: white;
}

.input-box img {
    position: relative;
    top: -33px;
    left: 20px;
}

.verify {
    display: flex;
    gap: 10px;
    position: relative;
    top: -31px;
    left: 21px;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit1 {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.ver-pic {
    position: absolute;
    top: 67.3%;
    /* 調整垂直位置 */
    right: 50px;
    /* 調整水平位置，可以根據需要進行調整 */
    transform: translateY(-50%);
    /* 將圖片垂直置中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-pic2 {
    position: absolute;
    top: 67.3%;
    right: 12px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ver-pic2:hover {
    width: 5.2%;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.two label a:hover {
    text-decoration: underline;
}


.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

#randomNum {
    height: 43px;
    font-size: 58px;
    width: 160px;
    letter-spacing: 10px;
}