<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Syle/styles.css">
    <link rel="stylesheet" href="../Syle//product_stlyes.css">

    <title>下身 | 酉告COOL </title>
</head>

<body>
    <!--Header -->
    <header>
        <div class="container">
            <nav class="topall">

                <button class="btn1" id="btn1" onclick="window.location.href='member.html'"
                    style="position: absolute; right: 10px; top: 10px ;">會員登入 / 註冊</button>

                <a href="../View/index .html"><img class="logo" src="../image/logo.png" height="60px"></a>

                <ul class="top">
                    <li>
                        <a href="../View/top.html">上身▼</a>
                        <ul class="top1">
                            <li>
                                <a href="#">T-shirt</a>
                            </li>

                            <li>
                                <a href="#">長袖上衣</a>
                            </li>

                            <li>
                                <a href="#">針織/毛衣</a>
                            </li>

                            <li>
                                <a href="#">襯衫</a>
                            </li>

                            <li>
                                <a href="#">外套/罩衫</a>
                            </li>

                            <li>
                                <a href="#">背心/小可愛</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="../View/bottom.html">下身▼</a>
                        <ul class="top1">
                            <li>
                                <a href="#">裙子</a>
                            </li>

                            <li>
                                <a href="#">褲子</a>
                            </li>

                            <li>
                                <a href="#">牛仔褲</a>
                            </li>

                            <li>
                                <a href="#">西裝褲</a>
                            </li>

                            <li>
                                <a href="#">短褲</a>
                            </li>

                            <li>
                                <a href="#">長褲</a>
                            </li>

                            <li>
                                <a href="#">內搭褲</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="../View/dress.html">洋裝▼</a>
                        <ul class="top1">
                            <li>
                                <a href="#">長洋裝</a>
                            </li>

                            <li>
                                <a href="#">短洋裝</a>
                            </li>

                        </ul>
                    </li>

                    <!-- <li> <a href="#">外套</a></li> -->

                    <li>
                        <a href="../View/acc.html">配件▼</a>
                        <ul class="top1">
                            <li>
                                <a href="#">項鍊</a>
                            </li>

                            <li>
                                <a href="#">墨鏡/眼鏡</a>
                            </li>

                            <li>
                                <a href="#">襪子</a>
                            </li>
                        </ul>
                    </li>
            </nav>
        </div>
    </header>
    <!--Header -->


    <!-- 彈跳式窗口内容 -->
    <div id="discountPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()"><img src="../image/close.png" alt="Close"></span>
            <img src="../image/DISCOUNT.jpg" alt="Discount Image" height="500px">
        </div>
    </div>
    <!-- 彈跳式窗口内容 -->

    <div class="container">
        <!-- 左欄區塊 -->
        <div class="left-zone">
            <ul class="top-left" id="zone"><a href="top.html">上身</a></ul>
            <il><a href="">T-shirt</a></il>
            <il><a href="">長袖上衣</a></il>
            <il><a href="">針織/毛衣</a></il>
            <il><a href="">襯衫</a></il>
            <il><a href="">外套/罩衫</a></il>
            <il><a href="">背心/小可愛</a></il>
            <br>
            <ul class="top-left" id="zone"><a href="bottom.html">下身</a></ul>
            <il><a href="">裙子</a></il>
            <il><a href="">牛仔褲</a></il>
            <il><a href="">西裝褲</a></il>
            <il><a href="">短褲</a></il>
            <il><a href="">長褲</a></il>
            <il><a href="">內搭褲</a></il>
            <br>
            <ul class="top-left" id="zone"><a href="dress.html">洋裝</a></ul>
            <il><a href="">長洋裝</a></il>
            <il><a href="">短洋裝</a></il>
            <br>
            <ul class="top-left" id="zone"><a href="acc.html">配件</a></ul>
            <il><a href="">項鍊</a></il>
            <il><a href="">墨鏡/眼鏡</a></il>
            <il><a href="">襪子</a></il>
        </div>
        <!-- 左欄區塊 -->


        <!-- 右邊商品區 -->
        <div class="right-zone img">
            <table class="product">
                <tr>
                    <th colspan="4" class="h3">
                        下身
                    </th>
                </tr>
                <tr>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/5.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">牛仔高腰工裝褲</a><a href="#">$980</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/2.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">日常百搭牛仔裙</a><a href="#">$880</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/9.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">高腰開岔工裝裙</a><a href="#">$790</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/21.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">五分工裝短褲</a><a href="#">$880</a><br><a href="#"> </a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/22.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">高腰鬆緊A字工裝裙</a><a href="#">$490</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/24.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">抽繩工裝束腳褲</a><a href="#">$980</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/25.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">五分工裝褲</a><a href="#">$680</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/23.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">帥氣牛仔連身褲</a><a href="#">$980</a><br><a href="#"> </a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/5.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">牛仔高腰工裝褲</a><a href="#">$980</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/2.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">日常百搭牛仔裙</a><a href="#">$880</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/9.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">高腰開岔工裝裙</a><a href="#">$790</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/21.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">五分工裝短褲</a><a href="#">$880</a><br><a href="#"> </a></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/22.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">高腰鬆緊A字工裝裙</a><a href="#">$490</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/24.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">抽繩工裝束腳褲</a><a href="#">$980</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/25.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">五分工裝褲</a><a href="#">$680</a><br><a href="#"> </a></p>
                    </td>
                    <td>
                        <a href="#"><img src="../image/RECOMMEND/23.png" alt="" class="w-100 postion-relative"></a>
                        <p><a href="#">帥氣牛仔連身褲</a><a href="#">$980</a><br><a href="#"> </a></p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 右邊商品區 -->



        <!--Footer-->
        <footer>
            <div>
                <a href="#" class="pagetop">Top</a>
                <a href=""><img src="../image/logo.png" height="55px"></a>
                <nav class="endall">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 13px; margin: 0;">copyright &copy; 酉告COOL 版權所有. All rights
                            reserved.2024</p>
                        <ul class="end" style="list-style-type: none; padding: 0; margin: 0; padding-right: 40px;">
                            <li id="li1"><a href="qa.html">常見問題</a></li>
                            <li id="li1"><a href="#">廣告刊登</a></li>
                            <li id="li1"><a href="#">關於我們</a></li>
                            <li><a href="#">隱私權政策</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </footer>
        <!--Footer-->


        <!-- 彈跳式窗口JS -->
        <script>
            // 1秒後打開彈出窗口的函數
            setTimeout(openPopup, 1000);

            // 打開彈跳式窗口
            function openPopup() {
                document.getElementById('discountPopup').style.display = 'flex';
            }

            // 關閉彈跳式窗口
            function closePopup() {
                document.getElementById('discountPopup').style.display = 'none';
            }
        </script>
        <!-- 彈跳式窗口JS -->
</body>

</html>